block vars
    - var title='DEV'

include /views/layouts/layout_bootstrap.pug

block content

    .container

        .page-header
            h1 Верстка по макета

        .list-group

            .list-group-item.active Pages

            a.list-group-item(href="pageUI.html")
                h4 page UI Kit

            a.list-group-item(href="pageIndex.html")
                h4 page Главная

            a.list-group-item(href="pageCatalog.html")
                h4 page Каталог

            a.list-group-item(href="pageCategory.html")
                h4 page Категория

            a.list-group-item(href="pageItem.html")
                h4 page Страница товара

            a.list-group-item(href="pageCart.html")
                h4 page Корзина (все состояния - заполненная, пустая, с переключением выбранных всех)

            a.list-group-item(href="pagePlacing.html")
                h4 page Оформление товара

            a.list-group-item(href="pageRental.html")
                h4 page Условия проката

            a.list-group-item(href="pagePrice.html")
                h4 page Прайс-Лист

            a.list-group-item(href="pagePromo.html")
                h4 page Акции

            a.list-group-item(href="pageDelivery.html")
                h4 page Доставка

            a.list-group-item(href="pageHours.html")
                h4 page График работы

            a.list-group-item(href="pageAbout.html")
                h4 page О нас

            a.list-group-item(href="pageContacts.html")
                h4 page Контакты

            a.list-group-item(href="pagePartners.html")
                h4 page Партнеры

            a.list-group-item(href="pageVacancy.html")
                h4 page Вакансии

            a.list-group-item(href="pageBlog.html")
                h4 page Блог

            a.list-group-item(href="pageArticle.html")
                h4 page Статья
