extends /views/layouts/layout.pug

block content
    .container
        ul.breadcrumbs
            li
                a Главная
            li
                a Блог
            li
                span Статья

        article.article
            h1.h3 Список вещей в путешествие в Териберку летом

            img(src='/public/img/img--article-1.jpg')
            p Если вы планируете посетить удивительное место под названием Териберка летом, важно правильно подготовиться и взять с собой необходимое снаряжение. Этот список поможет вам сделать ваше приключение более комфортным и запоминающимся.

            p
                strong Если вы планируете посетить удивительное место под названием Териберка летом, важно правильно подготовиться и взять с собой необходимое снаряжение. Этот список поможет вам сделать ваше приключение более комфортным и запоминающимся.

            p
                i  Если вы планируете посетить удивительное место под названием Териберка летом, важно правильно подготовиться и взять с собой необходимое снаряжение. Этот список поможет вам сделать ваше приключение более комфортным и запоминающимся.

            p
                a(href='') Ссылка
                = " "
                = " Текст"

            h3.h3 Документы:
            p Начнем с самого важного - ваши документы. Убедитесь, что у вас есть:
            ol
                li Паспорт РФ (рекомендуется сделать копию и взять с собой).
                li Авиабилеты (распечатайте и возьмите с собой в аэропорт).
                li Страховой полис путешественника (по желанию).
                li Достаточно денег на карманные расходы, питание и непредвиденные ситуации. Оптимально взять с собой как банковские карты, так и наличные, так как не все местные заведения принимают карты.

            .row.row-2
                div
                    h3.h3 Сумки и чемоданы:
                    p Чтобы упростить перевозку ваших вещей, возьмите следующее:
                    ul
                        li Чемодан для вещей. Также спортивная сумка или рюкзак подойдут. Не стоит выбирать слишком большие чемоданы, чтобы всё влезло в багажник микроавтобуса.
                        li Маленький рюкзак (10-25 литров) или поясную сумку для удобства ношения фотоаппарата, документов и денег.

                div
                    img(src='/public/img/img--article-2.jpg')

            h3.h3 Туристическое снаряжение:
            p
            ul
                li Палатку.
                li Спальный мешок.
                li Рюкзак.

            p И не забудьте о коврике для удобного сна.



