extends /views/layouts/layout.pug

block content
    .container
        ul.breadcrumbs
            li
                a Главная
            li
                span Вакансии

        .page-header
            h1.h2 Вакансии

        article.border
            h3.h3.c-green Менеджер

            .vg-1half
                p.fs-20 Сотрудник пункта проката туристического оборудования:
                p.fs-16 Пункт проката туристического оборудования тур-аренда https://tur-arenda.ru/ ищет сотрудника на&nbsp;сезон 2023. Мы&nbsp;сдаем в&nbsp;прокат палатки, шатры, рюкзаки, кемпинговую мебель, спальники и&nbsp;другой инвентарь для активного отдыха на&nbsp;природе.

            .vg-1half
                p.fs-20
                    span.c-main Месяц работы:
                    =" "
                    =" июнь, июль, август, сентябрь"
                p.fs-20
                    span.c-main Зарплата:
                    =" "
                    =" сдельная, 2200 руб./день"
                p.fs-20
                    span.c-main Требуемый опыт: 
                    =" "
                    =" не требуется"

            .vg-1half
                p.fs-20.c-main Обязанности:

                ul.fs-20
                    li Выдача туристического оборудования
                    li Заключение договоров с клиентами
                    li Прием, проверка исправности туристического оборудования
                    li Поддержание порядка на складе
                        li  Работа в системе учета склада

            .vg-1half
                p.fs-20.c-main Требования:

                ul.fs-20
                    li Мужчина, гражданство РФ
                    li Пунктуальность
                    li Аккуратность
                    li Внимательность
                    li Без ограничений по физ. активности (некоторые палатки весят 6-10 кг)

            .vg-1half
                p.fs-20.c-main Условия:

                ul.fs-20
                    li График работы: пн, пт с 11 до 21, вт,чт с 11 до 20, среда – по загруженности
                    li Кондиционер, СВЧ в офисе
                    li Бесплатные обеды при высокой загрузке
                    li Премии по результатам работы

            .vg-1half
                p.fs-20.c-main Место работы:

                ul.fs-20
                    li м. Печатники \ МЦД Люблино ул. Полбина д3с2

            a(href='').button.button-brown-border.sm WhatsApp


        include ../views/components/contacts
        include ../views/components/feedback