extends /views/layouts/layout.pug

block content
    .container
        ul.breadcrumbs
            li
                a Главная
            li
                a(href='') Каталог
            li
                span Палатки

        section.page-header
            h1.h2 Аренда туристических палаток в&nbsp;Москве
            p Аренда палаток различных моделей, для семейного и&nbsp;корпоративного отдыха, экстремальных походов и&nbsp;одиночных вылазок на&nbsp;тет-а-тет с&nbsp;природой. Предлагаем взять в&nbsp;прокат палатку и&nbsp;обеспечить себе максимум комфорта по&nbsp;доступной цене.

        section.mb-90
            h2.h2 Наши преимущества

            .vantage
                .row.row-4
                    .vantage__el
                        .vantage__icon
                            svg()
                                use(xlink:href='/public/img/sprite.svg#icon-locaition')

                        .vantage__content
                            h3.h3 Офис в&nbsp;Москве
                            p В&nbsp;нашем офисе в&nbsp;наличии более 100 единиц снаряжения. Выдача после подтверждения заказа.
                    .vantage__el
                        .vantage__icon
                            svg()
                                use(xlink:href='/public/img/sprite.svg#icon-note')

                        .vantage__content
                            h3.h3 Договор аренды
                            p С&nbsp;каждым клиентом мы&nbsp;подписываем договор с&nbsp;прозрачными ценами и&nbsp;сроками.
                    .vantage__el
                        .vantage__icon
                            svg()
                                use(xlink:href='/public/img/sprite.svg#icon-clean')

                        .vantage__content
                            h3.h3 Чистое снаряжение
                            p Наши сотрудники ежедневно проверяют и&nbsp;обслуживают прокатное снаряжение.
                    .vantage__el
                        .vantage__icon
                            svg()
                                use(xlink:href='/public/img/sprite.svg#icon-delivery')

                        .vantage__content
                            h3.h3 Доставка в&nbsp;день заказа
                            p Осуществляем срочную доставку заказов в&nbsp;день обращения от&nbsp;300&nbsp;руб.


    .bg--beige-noise.mb-90
        .container
            .section-category
                h2.h2 Палатки
                include ../views/components/product.pug
            .section-category
                h2.h2 Палатки
                include ../views/components/product.pug

    .container
        section
            article
                p Таким образом, синтетическое тестирование создаёт необходимость включения в&nbsp;производственный план целого ряда внеочередных мероприятий с&nbsp;учётом комплекса форм воздействия. Ясность нашей позиции очевидна: убеждённость некоторых оппонентов играет определяющее значение для экспериментов, поражающих по&nbsp;своей масштабности и&nbsp;грандиозности. Кстати, базовые сценарии поведения пользователей будут призваны к&nbsp;ответу.
                p С&nbsp;учётом сложившейся международной обстановки, социально-экономическое развитие играет важную роль в&nbsp;формировании своевременного выполнения сверхзадачи. Следует отметить, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании стандартных подходов. Принимая во&nbsp;внимание показатели успешности, курс на&nbsp;социально-ориентированный национальный проект не&nbsp;оставляет шанса для вывода текущих активов. Но&nbsp;независимые государства являются только методом политического участия и&nbsp;описаны максимально подробно.
                p Идейные соображения высшего порядка, а&nbsp;также реализация намеченных плановых заданий способствует подготовке и&nbsp;реализации существующих финансовых и&nbsp;административных условий. Как принято считать, явные признаки победы институционализации набирают популярность среди определенных слоев населения, а&nbsp;значит, должны быть в&nbsp;равной степени предоставлены сами себе. Равным образом, новая модель организационной деятельности прекрасно подходит для реализации существующих финансовых и&nbsp;административных условий.

        section
            h2.h2 Цены на аренду палаток
            article
                table.table-header.table-rent
                    thead
                        tr
                            th  Наименование
                            th Цена аренды, руб./сутки
                            th Залог

                table.table-rent
                    caption Каждая палатка, которая сдается в прокат, проходит регулярный осмотр. Звоните, с радостью поможем определиться с выбором и оформить заказ.

                    tbody
                        tr
                            td Палатка двухместная Dallas 2
                            td  2960
                            td 290
                        tr
                            td Палатка трехместная
                            td  2960
                            td 290
                        tr
                            td Палатка четырехместная Arpenaz 4
                            td  2960
                            td 290
                        tr
                            td Кемпинговая четырехместная палатка ARPENAZ 4.2
                            td  2960
                            td 290
                        tr
                            td Палатка для зимней рыбалки Нельма Куб-2 Люкс
                            td  2960
                            td 290

        section
            h2.h2 Часто задаваемые вопросы

            .accordeon
                .accordeon__el.open
                    .accordeon__title.js--toggle-accordeon
                        span Можно&nbsp;ли приехать в&nbsp;офис без оформления заказа на&nbsp;ареду палаток?
                    .accordeon__content
                        .height-overflow
                            p Будем рады видеть вас в&nbsp;нашем офисе. Предупредите заранее о&nbsp;своем приезде. Но&nbsp;учтите, что в&nbsp;сезон большая часть снаряжения забронирована, а&nbsp;значит мы&nbsp;не&nbsp;сможем вам гарантировать наличие вещей.

                .accordeon__el
                    .accordeon__title.js--toggle-accordeon
                        span Можно&nbsp;ли приехать в&nbsp;офис без оформления заказа на&nbsp;ареду палаток?
                    .accordeon__content
                        .height-overflow
                            p Будем рады видеть вас в&nbsp;нашем офисе. Предупредите заранее о&nbsp;своем приезде. Но&nbsp;учтите, что в&nbsp;сезон большая часть снаряжения забронирована, а&nbsp;значит мы&nbsp;не&nbsp;сможем вам гарантировать наличие вещей.

                .accordeon__el
                    .accordeon__title.js--toggle-accordeon
                        span Можно&nbsp;ли приехать в&nbsp;офис без оформления заказа на&nbsp;ареду палаток?
                    .accordeon__content
                        .height-overflow
                            p Будем рады видеть вас в&nbsp;нашем офисе. Предупредите заранее о&nbsp;своем приезде. Но&nbsp;учтите, что в&nbsp;сезон большая часть снаряжения забронирована, а&nbsp;значит мы&nbsp;не&nbsp;сможем вам гарантировать наличие вещей.

                .accordeon__el
                    .accordeon__title.js--toggle-accordeon
                        span Можно&nbsp;ли приехать в&nbsp;офис без оформления заказа на&nbsp;ареду палаток?
                    .accordeon__content
                        .height-overflow
                            p Будем рады видеть вас в&nbsp;нашем офисе. Предупредите заранее о&nbsp;своем приезде. Но&nbsp;учтите, что в&nbsp;сезон большая часть снаряжения забронирована, а&nbsp;значит мы&nbsp;не&nbsp;сможем вам гарантировать наличие вещей.

                .accordeon__el
                    .accordeon__title.js--toggle-accordeon
                        span Можно&nbsp;ли приехать в&nbsp;офис без оформления заказа на&nbsp;ареду палаток?
                    .accordeon__content
                        .height-overflow
                            p Будем рады видеть вас в&nbsp;нашем офисе. Предупредите заранее о&nbsp;своем приезде. Но&nbsp;учтите, что в&nbsp;сезон большая часть снаряжения забронирована, а&nbsp;значит мы&nbsp;не&nbsp;сможем вам гарантировать наличие вещей.

                .accordeon__el
                    .accordeon__title.js--toggle-accordeon
                        span Можно&nbsp;ли приехать в&nbsp;офис без оформления заказа на&nbsp;ареду палаток?
                    .accordeon__content
                        .height-overflow
                            p Будем рады видеть вас в&nbsp;нашем офисе. Предупредите заранее о&nbsp;своем приезде. Но&nbsp;учтите, что в&nbsp;сезон большая часть снаряжения забронирована, а&nbsp;значит мы&nbsp;не&nbsp;сможем вам гарантировать наличие вещей.

        include ../views/components/steps
        include ../views/components/feedback
        include ../views/components/contacts