.categories
    a(href='').category
        .category__img
            picture
                source(type='image/webp' srcset='/public/img/img--product.webp 1x, /public/img/img--product@2x.webp 2x')
                source(type='image/jpg' srcset='/public/img/img--product.jpg 1x, /public/img/img--product@2x.jpg 2x')
                img(src='/public/img/img--product.jpg 1x, /public/img/img--product@2x.jpg 2x' alt=alt)

        .category__data
            span.category__type Палатки
            span.category__assortment 9 видов

    a(href='').category
        .category__img
            picture
                source(type='image/webp' srcset='/public/img/img--product.webp 1x, /public/img/img--product@2x.webp 2x')
                source(type='image/jpg' srcset='/public/img/img--product.jpg 1x, /public/img/img--product@2x.jpg 2x')
                img(src='/public/img/img--product.jpg 1x, /public/img/img--product@2x.jpg 2x' alt=alt)

        .category__data
            span.category__type Спальники
            span.category__assortment 6 видов