section.mb-90
    h3.h3 Контакты и&nbsp;адрес

    .contacts
        div(id='map').contacts__map
        .contacts__content
            .contacts__block
                h3.h3 Время работы

                ul.contacts__time
                    li
                        span Понедельник:
                        span 11:00 - 21:00
                    li
                        span Вторник:
                        span 11:00 - 21:00
                    li
                        span Среда:
                        span 11:00 - 21:00
                    li
                        span Четверг:
                        span 11:00 - 21:00
                    li
                        span Пятница:
                        span 11:00 - 21:00

                span.notification Посещение офиса возможно после согласования с&nbsp;менеджером

script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>")