block vars

footer.footer
    .container
        .footer__links
            .footer__column
                .footer__logo
                    img(src='/public/img/logo.svg' alt='Логотип')
                p.footer__about Мы&nbsp;предоставляем в&nbsp;аренду туристическое снаряжение для любителей природы и&nbsp;приключений.

            .footer__column
                span.title.js--mobile-accordeon Туристическое снаряжение

                nav.footer__nav
                    ul.nav
                        li.nav__el
                            a(href='').nav__link Палатки
                        li.nav__el
                            a(href='').nav__link Спальники
                        li.nav__el
                            a(href='').nav__link Рюкзаки
                        li.nav__el
                            a(href='').nav__link Кемпинговая мебель
                        li.nav__el
                            a(href='').nav__link Костравое оборудование
                        li.nav__el
                            a(href='').nav__link Газовое оборудование
                        li.nav__el
                            a(href='').nav__link Байдарки
                        li.nav__el
                            a(href='').nav__link Лодки с&nbsp;мотором
                        li.nav__el
                            a(href='').nav__link Сапборды
                        li.nav__el
                            a(href='').nav__link Внедорожные эндуро мотоциклы
                        li.nav__el
                            a(href='').nav__link Легковые прицепы

            .footer__column
                span.title.js--mobile-accordeon Информация

                nav.footer__nav
                    ul.nav
                        li.nav__el
                            a(href='').nav__link Условия проката
                        li.nav__el
                            a(href='').nav__link Прайс-лист
                        li.nav__el
                            a(href='').nav__link Акции
                        li.nav__el
                            a(href='').nav__link Доставка

            .footer__column
                span.title.js--mobile-accordeon О компании

                nav.footer__nav
                    ul.nav
                        li.nav__el
                            a(href='').nav__link О нас
                        li.nav__el
                            a(href='').nav__link График работы
                        li.nav__el
                            a(href='').nav__link Контакты
                        li.nav__el
                            a(href='').nav__link Партнёры
                        li.nav__el
                            a(href='').nav__link Вакансии
                        li.nav__el
                            a(href='').nav__link Отзывы на Яндекс

        .footer__contacts
            span.title Контакты

            .contacts
                span.contacts__el Телефон:
                    a(href="tel:+74994441257") +7 (499) 444-12-57
                span.contacts__el Email:
                    a(href="mailto:tur-arenda@yandex.ru") tur-arenda@yandex.ru
                span.contacts__el Адрес:  Полбина, 3 ст3, 109388, Москва

            .social
                a(href='').social__el.vk
                    svg(width=24 height=24)
                        use(xlink:href='/public/img/sprite.svg#icon-vk')
                a(href='').social__el
                    svg(width=24 height=24)
                        use(xlink:href='/public/img/sprite.svg#icon-whatsapp-dark')

        span.footer__copyright &copy;️2024 Tur-arenda.ru

        button().top.js--scroll-top
            svg(width=24 height=24)
                use(xlink:href='/public/img/sprite.svg#icon-arrow-button')
