h3.h3 Способы получения товара

.get
    .row.row-2
        .get__el.get-self
            .get__header
                .title
                    svg
                        use(xlink:href='/public/img/sprite.svg#icon-locaition')
                    h3.h3 Самовывоз

                a(href='').whatsapp.button.button-brown-border.sm whatsapp

            .contacts__block
                .contacts__el
                    span Телефон
                    a(href='tel:+74994441257') +7 (499) 444-12-57
                .contacts__el
                    span Email
                    a(href='mailto:tur-arenda@yandex.ru') tur-arenda@yandex.ru
                .contacts__el
                    span Офис
                    span Полбина, 3&nbsp;ст3, 109388, Москва

            span.get__price В офисе

        .get__el.get-delivery
            .get__header
                .title
                    svg
                        use(xlink:href='/public/img/sprite.svg#icon-delivery')
                    h3.h3 Доставка

            .get__text
                p Осуществляем срочную доставку заказов в день обращения от 300 руб.
                p Осуществляем срочную доставку заказов в день обращения от 300 руб.

            span.get__price Расчитает менеджер