.swiper
    .swiper-wrapper
        +productSlider('Палатка двухместная Dallas 2', '/public/img/img--product', 'jpg', true, '290', '10 000', true, false)
        +productSlider('Палатка двухместная Dallas 2', '/public/img/img--product', 'jpg', true, '290', '10 000', false, true)
        +productSlider('Палатка двухместная Dallas 2', '/public/img/img--product', 'jpg', false, '290', '10 000', true, true)
        +productSlider('Палатка двухместная Dallas 2', '/public/img/img--product', 'jpg', false, '290', '10 000', true, false)

    .swiper-button-prev
    .swiper-button-next