.purchases
    +purchase('Палатка двухместная Dallas 2', '/public/img/img--product', 'jpg', true, false, '290 ₽/сутки', false)
    +purchase('Палатка двухместная Dallas 2', '/public/img/img--product', 'jpg', true, true, '1 798 ₽/сутки', '1000 ₽')