section
    h2.h2 Как происходит аренда?

    .steps
        .row.row-2
            .step__el
                h3.h3
                    span.number 1.
                    =" "
                    ="Выбор оборудования"
                p Выберите необходимые вещи на сайте и отправьте заявку. Наши менеджеры могут проконсультировать и помочь оформить заказ в Whatsapp или по телефону.
            .step__el
                h3.h3
                    span.number 2.
                    =" "
                    ="Заключение договора"
                p Подпишите договор, внесите залог за снаряжение и оплатите аренду: быстро и с гарантией возврата залога!
            .step__el
                h3.h3
                    span.number 3.
                    =" "
                    ="Доставка или самовывоз"
                p Заберите свой заказ с пункта хранения в Москве или закажите доставку к вашему дому. Перед тем, как принять палатку, обязательно осмотрите ее.
            .step__el
                h3.h3
                    span.number 4.
                    =" "
                    ="Возврат"
                p В день окончания аренды вы можете вернуть снаряжение в офис или заказать курьера. Мы проверим снаряжение и вернем вам залог.
